/*
-----------------------------------------

Universal Styling CSS

-----------------------------------------
 */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .button {
   display: inline-block;
   color: black;
   background-color: #edc7df;
   border-radius: 6px;
   padding: 10px;
   max-width: 145px;
   min-width: 145px;
   text-align: center;
   margin: 20px;
   border: 4px solid black;
   text-decoration: none;
 }

header {
  background-color: #111111;
  padding: 10px;
  position: fixed;
  width: 100vw;
}
 /*
 -----------------------------------------

 Navigation Bar Styling CSS

 -----------------------------------------
  */

  .logo {
    width: 100px;
  }

  nav ul li {
    display: inline;
    color: white;
    padding: 20px;
    margin: 10px;
    border: 10px;


  }
